.sidebar{
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,.5);
    flex: 0.1;
    min-width: 150px;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.sidebaroption{
    display: flex;
    align-items:center;
    cursor: pointer;
    
    }

.sidebaroption > .MuiSvgIcon-root{
        padding:20px;
    }


    .sidebaroption-active{
        color: var(--twitter-color);
    }
    .sidebaroption:hover{
        background-color:#e8f5fe;
        border-radius: 30px;
        color:var(--twitter-color);
        transition:color 100ms ease-out;
    }

    .sidebaroption > h2
    {
    font-weight:800;
    font-size: 20px;
    margin-right: 20px;
    }